/*hero-div*/
#hero-img {
  width: 100%;
  padding: 30px;
  aspect-ratio: 16/9;
  border-radius: 35px;
  overflow: hidden;
  box-sizing: border-box;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 575px;
  margin-top: 0px;

  /*for img*/
  background-image: url("/hero-img.webp");
}

.text {
  background: #f0e7d5bd;
  backdrop-filter: blur(6px);
  border-radius: 45px;
  width: fit-content;
  padding: 40px;
  padding-top: 60px;
  border: 1.5px solid #f0e7d5bc;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.372);
}

/*button*/

button {
  display: inline-flex;
  background-color: #554946;
  color: #f1e9de;
  border: none;
  border-radius: 999px;
  padding: 10px 31px;
  align-items: center;
  justify-content: center;
  width: fit-content;
  white-space: nowrap;
  gap: 8px;
  transition:
    background-color,
    scale 0.2s ease;
}

button:hover {
  background-color: #70605c;
  scale: 1.05;
}

button svg {
  max-width: 20%;
  flex-shrink: 0;
}

button p {
  font-size: 1.3em;
  font-family: Poppins;
  margin-top: 2px;
  margin-bottom: 2px;
}
